// ------------------------------
// SINGLE Sandbox LAYOUT
// ------------------------------

article.sandbox {
  width: 200px;
  padding: 20px;
  margin: 10px;
  border: 1px solid $gray-light;
  box-shadow: 2px 2px 2px #888888;
  background-color: #ffffff;
}

.sandbox-section > div  {


  display: -webkit-flex; /* Safari */
  display: flex;

  flex-wrap: wrap;
  align-items: flex-start;
}



.sandbox-single {

  pre {
    width: 95%;
  }

  hr {
    display: block;
    width: 30%;
    margin: 2em 0;
    border-top: 1px solid $gray-light;
  }
  .sandbox-date{
    margin-bottom: 1em;
  }
  p {
    margin-top:1em;
    line-height: 1.2em;
  }

}
