
//table default
table {
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
  border-collapse: separate;
  tr:first-child th:first-child { border-top-left-radius: 3px; }
  tr:first-child th:last-child { border-top-right-radius: 3px; }
  tr:last-child td:first-child { border-bottom-left-radius: 3px; }
  tr:last-child td:last-child { border-bottom-right-radius: 3px; }

  thead {
    th {
      background-color: lighten($secondary-color, 32%);
      color: #000000;
      padding: 10px;
      text-align: left;
      text-shadow: 1px 1px 1px #fff;
    }
  }
  tbody{
    td {
      color: #333;
      padding: 10px;
      text-shadow: 1px 1px 1px #fff;
    }
    th, td {
      vertical-align: top;
      text-align: left;
    }
  }
  td, th {
    border: $secondary-border;
    word-break: break-all;
    word-wrap: break-word;
    min-width: 50px;
    max-width: 500px;
  }
}
