{{ partial "head.html" . }}
<body>
  {{ partial "sidebar.html" . }}
  <script type="text/javascript" src="{{ .Site.BaseURL }}/js/golib/play.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}/js/golib/playground.js"></script>
  <div class="content-wrapper">
    <div class="content-wrapper__inner">
      <div class="sandbox-single">
        <h2>{{ .Title }}</h2>
        <span class="sandbox-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
        <hr/>
        <div class="playground">
          <article class="page-content">
              <div class="code-container">
                <pre><code class="language-go">{{ .Content }}</code></pre>
              </div>
          </article>
        </div>
      </div>
      <script>
        (function(){
            initPlayground(new HTTPTransport());
        }())
      </script>

      {{ partial "sharing.html" .}}
      {{ partial "comments.html" .}}
    </div>
  </div>

</body>
{{ partial "footer.html" .}}
{{ partial "script.html" .}}
</html>
