{{ partial "head.html" . }}
<body>
    {{ partial "sidebar.html" . }}
    <div class="content-wrapper">
      {{ $paginator := (.Paginate (where .Data.Pages "Section" "demo" ) 10)  }}
        <div class="content-wrapper__inner">
            <section id="main">
                <div class="sandbox-section">
                  <div>
                    {{ range $paginator.Pages }}
                        {{ .Render "summary"}}
                    {{ end }}
                  </div>
                </div>
                </br>
                <h4 class="space-between">
                    {{ if $paginator.HasPrev}}
                    <a href="{{ $paginator.Prev.URL }}#blog">上一页</a>
                    {{ else }}
                    <a></a>
                    {{ end }}
                    <a></a>
                    {{ if $paginator.HasNext }}
                    <a href="{{ $paginator.Next.URL }}#blog">下一页</a>
                    {{ else }}
                    <a></a>
                    {{ end }}
                </h4>
                <h4>

                </h4>
            </section>
        </div>

    </div>
    {{ partial "footer.html" .}}
    {{ partial "script.html" .}}
</body>
</html>
